/*
 * ----------------------------------
 *  exome_n-of-1 Nextflow config file
 * ----------------------------------
 * Default config options for all environments.
 */

params {

  container = 'library://bruce.moran/default/projects:TCGA_fastq_download.centos7.conda'

}

profiles {
  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }
  conda { process.conda = "$baseDir/environment.yaml" }
  singularity { singularity.enabled = true }

}

process {

      container = 'library://bruce.moran/default/projects:TCGA_fastq_download.centos7.conda '

}

timeline {
  enabled = true
  file = "pipeline_info/TCGA_fastq_download.timeline.html"
}

report {
  enabled = true
  file = "pipeline_info/TCGA_fastq_download.report.html"
}

trace {
  enabled = true
  file = "pipeline_info/TCGA_fastq_download.trace.txt"
}

dag {
  enabled = true
  file = "pipeline_info/TCGA_fastq_download.dag.svg"
}
