/*
 * --------------------------------------------------
 *  Nextflow base config file for TCGA fastq download
 * --------------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */

params {

  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

}

process {

  container = params.container

}
