/*
 * -------------------------------------------------
 *  Nextflow config file for IEHG Genome cluster
 * -------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

process {

  executor = 'pbs'

  withName:minifest {
    cpus = 8
    memory = 24.GB
    time = 48.h
  }
  withName:tars {
    cpus = 4
    memory = 12.GB
    time = 24.h
  }
}

conda.cacheDir = '/data/genome/bmoran/conda/nextflow'

singularity {

  cacheDir = '/data/genome/bmoran/singularity/nextflow'
  runOptions = '--bind /data/genome/bmoran:/data/genome/bmoran'

}
